// the core logger style

#tsLog .book
	display: none
	margin: 10px 15px 25px

#tsLog .book h3
	padding: 0 0 10px 10px

#tsLog .book h3,
#tsLog .book .tl-text,
#tsLog .book .tl-info span
	font-size: 12px
	font-weight: bolder
	text-transform: uppercase

#tsLog
	border-radius: 5px
	background: #ffffff
	border: 1px solid #bbbbbb

#tsLog .ts-log
	padding: 10px
	word-break: break-all
	&:nth-child(even)
		background: rgba(0, 0, 0, 0.05)
	&:not(:hover) .tl-info
		display: none

#tsLog .tl-info span
	padding-right: 5px

#tsLog .ts-log.log
	opacity: 0.5