// toggle-able CSS options

// show logs
body.logging #tsLogs
	display: block

// hide video, users, chat bubbles
body:not(.logging) #tsLogs,
body.no_bub .speech-bubble,
body.no_vid .screen-content,
body.no_aud #room-view > canvas:nth-child(4)
	display: none !important

// highlight recently played songs
body.played #queue .song.ts_played
	box-shadow: inset -14px 0 36px -20px #ff0000 !important