/* Main Background */
.tab-pane, #songs, .song-list, .guest-list,
#buddyList, .conversations-list,
.room-info-intro, .message-history,
.chat .message:nth-child(even),
.guest-list>:nth-child(even):not(.separator),
.striped-list>:nth-child(even):not(.separator), 
.song-list>ul>:nth-child(even):not(.separator),
.message-history>:nth-child(even):not(.separator) {
  color: #eaeaea !important;
  background: #1a1a1a !important;
}

/* Alt Background */
.room-info-wrap, .flat-button,
.chat .message:nth-child(odd),
.guest-list>:nth-child(odd):not(.separator),
.striped-list>:nth-child(odd):not(.separator), 
.song-list>ul>:nth-child(odd):not(.separator),
.message-history>:nth-child(odd):not(.separator)  {
  color: #eaeaea !important;
  background: #141414 !important;
}

/* Border Color Resets */
.flat-button, .message-view,
.chat .message, .striped-list, 
.song-list .song, .guest-list .guest,
.room-info-intro, .room-info-wrap {
  border-color: #343434 !important;
}
.conversation-view {
  border-top: 1px solid #343434 !important;
}

/* Mention Styling */
.chat .message.mention {
  background: rgb(0 134 181 / 39%) !important;
  border-right: 5px solid #0086b5 !important;
}

/* Text Color Overrides */
.room-tab .description-wrap,
.room-tab .room-info-link h3 {
  color: #eaeaea !important;
}

/* Transparent Overrides */
.avatar-head {
  background-color: transparent !important;
}

/* Popped White Text */
#playlist-display .text, .filter.btn,
.room-tab .room-name, .song .title,
.queue-message, .default-message,
.tabbed-panel .separator .text,
.sliding-nav-pane-title,
.message-view a, .tabbed-panel a, .tabbed-panel a:visited {
  color: #fff !important;
  text-shadow: 0 1px 1px #000 !important;
}

/* Underline Linkes */ 
.message-view a, .tabbed-panel a, .tabbed-panel a:visited {
  text-decoration: none !important;
  border-bottom: 1px dotted !important;
}

/* Playlist / Filters */
.panel-button {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.panel-button:not(:hover) { 
  opacity: 0.8 !important; 
}

/* Invert Dark Buttons */
#buddyListNipple,
.chatsound.mention,
#upload-button button,
.tabbed-panel button.back,
.room-info-wrap .options-menu .nib,
#playlist-display .playlist-queue-inset,
.playlist-go-top, .playlist-open-options {
  filter: invert(1) !important;
}

/* Input Bars */
.message-input-view,
.floating-panel-bar,
.floating-panel-header, 
.tabbed-panel .separator,
.sliding-nav-pane-header,
.sliding-nav-pane .separator {
  box-shadow: none !important;
  border-top: 1px solid #343434 !important;
  border-bottom: 1px solid #151515 !important;
  background: linear-gradient(to bottom, #1a1a1a, #151515) !important;
}

/* PM Options Menu */
#buddyListHeader .options-menu .nib,
#buddyListHeader .options-menu .options {
  border-radius: 5px !important;
}
#buddyListHeader .options-menu .nib {
  border-color: transparent !important;
  background-color: transparent !important;
}
#buddyListHeader .options-menu .options {
  top: -85px !important;
  right: -5px !important;
}

/* Input Buttons */
.chatsound-container {
  background: transparent !important;
}
#upload-button button,
.chatsound-container, .chatsound.mention {
  box-shadow: none !important;
  border-color: transparent !important;
}
.chat-bar .divider,
#normal-mode .divider {
  display: none !important;
}

/* Text Inputs */
#chat-form {
  left: 40px;
}
.message-input,
#song-search-input {
  border: none !important;
  color: #ffffff !important;
  background: #252525 !important;
  box-shadow: inset 0 0 0 1px #343434, 0 1px 0 0 #343434 !important;
}