.chat .message.mention {
  background: #00a1c052 !important;
  border-right: 5px solid #00a1c0 !important;
}

.song .progress, #ts_slider,
::-webkit-scrollbar-thumb:hover { background: #00a1c0 !important; }

.current-song .details { color: #ffffff !important; }

.lame-button { filter: grayscale(1) !important; }
.awesome-button {
  filter: hue-rotate(90deg) brightness(0.8) saturate(2) !important;
}

.become-dj, .invite-dj, .song-details { filter: hue-rotate(130deg) !important; }

.header-logo,
#buddyListHeader,
.tab-item:active, 
.tab-item.selected,
.favorite-star.favorited,
#privateChatIcon.open .chatIcon {
  filter: hue-rotate(130deg) brightness(0.6) saturate(2) !important;
}

.tab-item:active .tab-icon, 
.tab-item.selected .tab-icon { filter: invert(1); }

.become-dj,
.tab-item:active .tab-title, 
.tab-item.selected .tab-title {
  color: #000000 !important;
  text-shadow: none !important;
}