// the panel/hotbar inputs

#tsPanels
	.ts-toggle,
	.ts-inputs,
	.ts-button,
	.ts-choice,
	section h3
		display: block
		border-radius: 0

.ts-button,
.ts-toggle,
.ts-inputs,
.ts-choice
	border: none
	outline: none
	font-size: 0.9em
	font-weight: bold
	border-radius: 5px
	margin-right: 5px
	padding: 5px 10px 4px
	display: inline-flex
	cursor: pointer
	@extend .ts-content-hover

.ts-button
	font-size: 1em
	padding-top: 5px

.ts-toggle span
	width: 12px
	min-width: 12px
	font-size: 12px
	display: inline-block
.ts-toggle input
	display: none
.ts-toggle input:checked + span:after
	color: $accent
	content: $i-check
.ts-toggle input:not(:checked) + span:after
	content: $i-cross
	@extend .ts-faded

#tsOpenBtn
	color: $accent
	padding-top: 0
	font-size: 1.2em

#tsCloseBtn
	cursor: pointer
	margin-right: 10px

#tsBackup input
	display: none

#tsTyping
	@include abs(false, 256px, 0px, false)
	z-index: 10000
	overflow-y: auto
	box-sizing: border-box
	height: calc(100% - 42px)
	background: #eeeeee
	border-left: 1px solid #aaa
	border-right: 1px solid #aaa

#tsTyping .wrap
	display: flex
	min-height: 100%
	box-sizing: border-box
	flex-direction: column
	justify-content: flex-end
	padding: 10px 10px 10px 5px

#tsTyping img
	width: 20px

#tsTyping div
	padding: 3px
	cursor: pointer

#tsTyping .icon:hover
	background: rgba(0, 0, 0, 0.1)