body,
#songs,
#newsbox,
.tab-pane,
.song-list,
.guest-list,
.room-info-intro
  @extend %content-main

.tab-pane a,
#pmWindows a,
#topBG #content a,
.profile .statslink a
  color: $accent !important
  text-decoration: none !important
  background: transparent !important
  border-bottom: 1px dotted !important

#mainNav li:not(.selected) .nav-text,
#subNav li:not(.selected) .subnav-text
  color: $subtle !important

#subNav li.selected,
#mainNav li.selected
  background: $bg-alt !important

.mini-room-view
  background-color: transparent !important

.miniplayer .songboard
  filter: grayscale(1)

.song-playing .songboard-time,
.song-playing .songboard-time-left,
.song-playing .songboard-progress-bar
  bottom: -59px

.room-tab
  .room-name
    color: $text !important

  .num-listeners,
  .description-wrap
    color: $subtle

  .room-info-intro
    border-bottom: none !important

  .room-info-wrap
    @extend %content-alt
    border-top: 1px solid $border !important
    border-bottom: 1px solid $border !important

  .save-description-btn .icon
    @include dark-buttons

  .edit-description
    @extend %content-alt
    padding-bottom: 25px !important

  .flat-button
    @extend %content-alt
    border: 1px solid $border !important
    &:not(:hover) h3
      color: $subtle !important

.queue-message,
.default-message
  text-shadow: none !important
  color: $subtle !important

#create-room span
  color: $active-tab-text !important

.become-dj, 
.invite-dj
  color: $bg-main !important

::-webkit-scrollbar
  width: 7px
::-webkit-scrollbar-track
  background: $bg-main
::-webkit-scrollbar-thumb
  background: $border
::-webkit-scrollbar-thumb:hover
  background: $subtle