.header-bar,
.tab-item:not(.selected)
  @extend %content-main

.header-room-name
  font-weight: bold
  color: $color-text

.header-social div
  @include recolor($color-subtle)

.header-search,
#settings .settings-button,
.room-search-input .mag-glass
  opacity: 0.5

.tab-item
  @extend %border-y

  &:active,
  &.selected 
    .tab-title
      font-weight: bold
      text-shadow: none
      color: $color-bg-0
      margin: -1px 0 0 -1px    

    .tab-icon
      @include recolor($color-bg-0)
  
  &:not(.selected) 
    border-bottom-color: $color-bg-0

    &:hover
      background: $color-bg-2

    .tab-icon
      @include recolor($color-subtle)

    .tab-title
      color: $color-subtle