.room-list,
.roomListItem,
#mainPanelHeader,
.floating-panel-bar,
.floating-panel-header,
.tabbed-panel .separator,
.sliding-nav-pane-header,
.lobby-panel .buddyListRoom,
.lobby-panel .buddyListTitle,
.lobby-panel #buddyListHeader
  @extend %content-panel

.floating-panel-bar,
.floating-panel-header
  border-top: 1px solid $border-p !important
  border-bottom: 1px solid $border-p !important
  .divider
    display: none
  .count
    color: $subtle !important

.roomListItem
  border: none !important
  .songName
    color: $subtle !important
  .stat .icon
    filter: grayscale(1)
  .needed .count
    color: $accent !important
  .listenNow
    border: none !important
    box-shadow: none !important
    text-shadow: none !important
    color: $active-tab-text !important
    background: $active-tab-bg !important
  .roomDJs .icon
    background-position: 0 -37px !important
    background: url('https://s3.amazonaws.com/assets.turntable.fm/images/sprites/lobby-sprite.png') no-repeat top left !important

.room-list .roomName,
.tabbed-panel .separator,
.lobby-panel .buddyListTitleText,
  text-shadow: none !important
  color: $text !important

.roomListBuddyIcon.isAvatar
  border: none !important
  background: transparent !important

.panel-button
  border: none !important
  box-shadow: none !important
  text-shadow: none !important
  color: $subtle !important
  background: transparent !important

#queue-header
  border-top: 1px solid transparent !important

#queue-header .done
  border: 1px solid $bg-main !important

.sliding-nav-pane-title
  text-shadow: none !important
  color: $text !important

.sliding-nav-pane-back
  width: 41px !important
  background: none !important
  &::after
    left: 0px
    top: -10px
    content: "x"
    display: block
    text-indent: 0
    font-size: 1.3em
    font-weight: bold
    position: relative
    color: $subtle

#chat-form,
.song-search
  left: 36px

#chat-input,
#song-search-input,
.room-search-input input
  @extend %text-input
  &::placeholder
    color: $subtle !important