#settings .option
  font-weight: bold
  box-shadow: none !important
  background: $bg-panel !important
  border-bottom: 1px solid $border-p !important
  a,
  .description
    color: $text !important
  &:hover,
  .selected
    background: $active-tab-bg !important
    a,
    .description
      color: $active-tab-text !important

.settings-dropdown .dropdown
  background: $bg-alt

.options-menu
  .nib
    @include full-invert
  &.closed .nib
    border-color: transparent !important
    background-color: transparent !important
  .options
    box-shadow: none !important
    background: $bg-panel !important
    border-color: $border-p !important
    .option
      font-weight: bold
      color: $text !important
      &:hover, 
      &.active
        color: $active-tab-text !important
        background: $active-tab-bg !important

.floating-menu
  box-shadow: none !important
  background: $bg-main !important
  border: 1px solid $bg-main !important
  .option
    box-shadow: none !important
    color: $text !important
    border-top: 1px solid $border-p !important
    &:not(.active), 
    &:not(.special)
      background: $bg-panel !important
    &.special
      background: $bg-alt !important
    &.active, 
    &.selected,
    &:not(.split-option):not(.disabled):hover
      color: $active-tab-text !important
      background: $active-tab-bg !important

    .playlist-queue, 
    .playlist-queue-plus
      @include dark-buttons

    .playlist-queue
      background-position: 0 -76px !important

    .playlist-queue-plus
      background-position: 0 -92px !important

.overlay .modal
  background: $active-tab-bg !important
  .title 
    color: $active-tab-text !important
  .content-container
    background: $bg-main !important
    .content
      color: $text !important
