$main: #e668b9

$text: #dad7e8
$back: #393359

$snag: #e853a6
$join: #4abf54
$left: #e64f4f
$mods: #e64f4f

$tint: 200deg

@import "../sass/import"

.ts-vote-filter
	@include shift($tint, 2, 0.7)

.ts-room-filter
	@include gloss($tint + 30deg, 4)

.ts-main-filter
	@include paint($tint + 70deg, 2.7, 0.5)

.ts-full-filter
	@include paint($tint + 70deg, 2.7, 0.45, 1)

.ts-dark-filter
	@include paint($tint + 70deg, 2.7, 0.25, 1)

.ts-mute-filter
	@include paint($tint + 20deg, 1.4, 0.4)

@import "../sass/theme"