$main: #f3cc12

$text: #cccccc
$back: #2f2f2f

$snag: #e853a6
$join: #4abf54
$left: #e64f4f
$mods: #e64f4f

$tint: 0deg

@import "../sass/import"

.ts-vote-filter
	opacity: 1

.ts-room-filter
	opacity: 1

.ts-main-filter
	opacity: 1

.ts-full-filter
	opacity: 1

.ts-dark-filter
	@include paint($tint, 1, 0.25, 1)

.ts-mute-filter
	opacity: 1

@import "../sass/theme"