// core colors
$color-bg:   #343434
$color-text: #eaeaea

// accent color
$color-accent: #e1bb22

$color-good: #37a737
$color-bad:  #af1f1f

// chat message colors
$color-action: $color-bad // dj removal etc
$color-onsnag: #a73775
$color-onjoin: $color-good
$color-onleft: $color-bad
$color-onding: $color-accent

// controls inverting elements
// set invert to 0 to disable, 1 to enable
// brighness to 1 to disable, 10 to enable
$invert-dark: 1 
$brightness: 10

// generated variables
$color-bg-alt: lighten($color-bg, 3%)   // lighter background
$color-border: lighten($color-bg, 9%)   // matching border color
$color-subtle: darken($color-text, 15%) // darker, subtle text

// floating panel colors
$color-panels: $color-border

// define our main stylings
%content-main
  box-shadow: none !important
  text-shadow: none !important
  color: $color-text !important
  background: $color-bg !important

%content-alt
  box-shadow: none !important
  text-shadow: none !important
  color: $color-text !important
  background: $color-bg-alt !important

%text-input
  border: none !important
  box-shadow: none !important
  color: $color-text !important
  background: $color-bg !important

// the "bars" in the tabs
%floating-panel
  box-shadow: none !important
  background: $color-panels !important

// end theme variables, import main styles

@import "header"
@import "content"
@import "panels" // inputs
@import "buttons"
@import "striped"
@import "songs"
@import "chat"
@import "private"
@import "options"