/* Main Background */
.tab-pane, #songs,
.room-info-intro,
.chat .message:nth-child(even),
.striped-list>:nth-child(even):not(.separator), 
.song-list>ul>:nth-child(even):not(.separator),
.message-history>:nth-child(even):not(.separator) {
  color: #eaeaea !important;
  background: #3a3a3a !important;
}

/* Alt Background */
.room-info-wrap, .flat-button,
.chat .message:nth-child(odd),
.striped-list>:nth-child(odd):not(.separator), 
.song-list>ul>:nth-child(odd):not(.separator),
.message-history>:nth-child(odd):not(.separator)  {
  color: #eaeaea !important;
  background: #343434 !important;
}

/* Border Color Resets */
.flat-button, .message-view,
.chat .message, .striped-list, 
.song-list .song,
.room-info-intro, .room-info-wrap {
  border-color: #545454 !important;
}

/* Text Color Overrides */
.room-tab .description-wrap,
.room-tab .room-info-link h3 {
  color: #eaeaea !important;
}

/* Popped White Text */
#playlist-display .text, .filter.btn,
.room-tab .room-name, .song .title,
.queue-message, .default-message,
.tabbed-panel .separator .text,
.message-view a, .tabbed-panel a, .tabbed-panel a:visited {
  color: #fff !important;
  text-shadow: 0 1px 1px #000 !important;
}

/* Underline Linkes */ 
.message-view a, .tabbed-panel a, .tabbed-panel a:visited {
  text-decoration: none !important;
  border-bottom: 1px dotted !important;
}

/* Playlist / Filters */
.panel-button {
  box-shadow: inset 0 1px #909090, 0 1px #000000 !important;
  background: linear-gradient(to bottom, #7d7d7d 0, #6f6f6f 100%) !important;
}
.panel-button:not(:hover) { 
  opacity: 0.8 !important; 
}

/* Invert Dark Buttons */
.options-menu .nib,
.chatsound.mention,
#upload-button button,
#playlist-display .playlist-queue-inset {
  filter: invert(100%) !important;
}

/* Input Bars */
.message-input-view,
.floating-panel-bar,
.floating-panel-header, 
.tabbed-panel .separator {
  box-shadow: none !important;
  border-top: 1px solid #545454 !important;
  border-bottom: 1px solid #353535 !important;
  background: linear-gradient(to bottom, #3a3a3a, #353535) !important;
}

/* Input Buttons */
.chatsound-container {
  background: transparent !important;
}
#upload-button button,
.chatsound-container, .chatsound.mention {
  box-shadow: none !important;
  border-color: transparent !important;
}
.chat-bar .divider,
#normal-mode .divider {
  display: none !important;
}

/* Text Inputs */
#chat-form {
  left: 40px;
}
.message-input,
#song-search-input {
  border: none !important;
  color: #ffffff !important;
  background: #252525 !important;
  box-shadow: inset 0 0 0 1px #545454, 0 1px 0 0 #545454 !important;
}


/*.room-name,
.filter.btn,
.song .title,
.chat .messages,
.room-info-wrap,
.panel-button .text,
.tabbed-panel .separator,
.room-tab .room-info-link h3,
.message-view .message-fragment,
.message-view .message-username {
  color: #dddddd !important;
}

.room-info-intro {
  color: #888888 !important;
}

#songs,
.tab-pane,
.message-history,
.chat .message:nth-child(odd),
.striped-list>:nth-child(odd):not(.separator), 
.song-list>ul>:nth-child(odd):not(.separator),
.message-history>:nth-child(odd):not(.separator) {
  background: #222222 !important;
}

.flat-button,
.room-info-wrap,
.chat .message:nth-child(even),
.striped-list>:nth-child(even):not(.separator), 
.song-list>ul>:nth-child(even):not(.separator),
.message-history>:nth-child(even):not(.separator) { 
  background: #333333 !important;
}

.message-input-view,
.floating-panel-bar,
.floating-panel-header, 
.tabbed-panel .separator {
  border-top: 1px solid #333333 !important;
  border-bottom: 1px solid #000000 !important;
  background: linear-gradient(to bottom, #444444, #222222) !important;
}

.panel-button {
  background: linear-gradient(to bottom, #555555 ,#444444) !important;
}

.flat-button,
.panel-button,
.chat .message,
.room-info-wrap,
.striped-list>*, 
.song-list>ul>*,
.room-info-intro,
.message-history > * {
  border-color: #444444 !important;
}

.panel-button,
.queue-message,
.room-info-wrap,
.default-message,
.panel-button .text,
.message-input-view,
.floating-panel-bar,
.floating-panel-header, 
.tabbed-panel .separator {
  box-shadow: none !important;
  text-shadow: none !important;
}

.floating-panel-bar .divider,
.floating-panel-header .divider {
  box-shadow: inset 1px 0 0 0 #111, inset -1px 0 0 0 #000 !important;
}

.options-menu .nib {
  filter: invert(100%) !important;
}*/