$dark-theme: true

$text:   #e2eeff
$subtle: darken($text, 15%)

$bg-main: #091b35
$bg-alt:  lighten($bg-main, 2%)
$border:  lighten($bg-main, 4%)

$bg-panel: lighten($border, 4%)
$border-p: lighten($border, 8%)

$bg-input:   $bg-panel
$text-input: $text

$accent: #e1bb22 // gold - mentions
$action: #e65656 // red - dj removal, etc
$onsnag: #f16e98 // pink
$onjoin: #7af178 // green
$onleft: $action // red
$upvote: $onjoin // green
$dnvote: $action // red

$active-tab-bg:   $accent // chat, queue, room
$active-tab-text: #ffffff

@import "base/theme"

#playlist .search .mag-glass,
#playlist-display .down-arrow,
.tab-item:not(.selected) .tab-icon,
#playlist-display .playlist-queue-inset
  filter: contrast(0) sepia(1) hue-rotate(180deg) saturate(4) !important