@import "../mixins"

$tint: 0deg

$base: #2f2f2f
$main: #f3cc12
$text: #cccccc

$snag: #e853a6 // pink
$join: #4abf54 // green
$left: #e64f4f // red
$mods: #e64f4f // red (removed from decks, etc)

.ts-tint-vote
	opacity: 1

.ts-tint-back
	opacity: 1

.ts-shift-main
	opacity: 1

.ts-shift-invert
	opacity: 1

.ts-shift-mute
	opacity: 1

@import "base/theme"