$main: #bfa206

$text: #adadad
$back: #191919

$snag: #a0629e
$join: #69966b
$left: #a74646
$mods: #a74646

$tint: 0deg

@import "../import"

.ts-vote-filter
	@include shift($tint, 2, 0.7)

.ts-room-filter
	@include gloss($tint, 2, 0.7)

.ts-main-filter
	@include paint($tint, 2, 0.7)

.ts-full-filter
	@include paint($tint, 2, 0.7, 1)

.ts-dark-filter
	@include paint($tint, 2, 0.25, 1)

.ts-mute-filter
	@include paint($tint, 2, 0.7)

@import "theme"