body,
.tab-pane
	@extend .ts-content

	#pmWindows a,
	.tabbed-panel a,
	#topBG #content a
		&, &:hover, &:visited
			color: $main
			text-decoration: none
			border-bottom: 1px dotted
		&:hover
			filter: brightness(1.2)

.queue-message,
.default-message
	color: $mute
	text-shadow: none

// background lights
#room-view > canvas:nth-child(2)
  @extend .ts-room-filter

// voting buttons
.board .lame-button
  filter: grayscale(1)

.board .awesome-button
  @extend .ts-vote-filter

.become-dj,
.invite-dj
	border: none
	color: $bg-inset
	box-shadow: none

	&:hover
		filter: brightness(1.2)

	&, &:hover
		@extend .ts-gradient

	&:before, &:after
		display: none

// miniplayer
#mainNav li:not(.selected) .nav-text,
#subNav li:not(.selected) .subnav-text
  color: $mute !important

.mini-room-view
  background-color: transparent !important

.miniplayer .songboard
  filter: grayscale(1)

.song-playing .songboard-time,
.song-playing .songboard-time-left,
.song-playing .songboard-progress-bar
  bottom: -59px

// continue to room
#readybox
	@extend .ts-content

	img[src*="arrow"]
		@extend .ts-main-filter
	
	h2
		color: $text
		+ div
			color: $mute
	
	.btn
		color: $bg-inset
		@extend .ts-gradient
	
	.charity-btn
		background: $bg-inset
		border: 1px solid $bg-faded
		a
			color: $mute

// scrollbar
::-webkit-scrollbar
  width: 7px
::-webkit-scrollbar-track
  background: $bg-inset
::-webkit-scrollbar-thumb
  background: $bg-hover
::-webkit-scrollbar-thumb:hover
  background: $mute