#topBG
	@extend .ts-content
	
	.header-logo2
		margin: 8px 0
		background-size: contain
		@include box(24px, 110px)

	.room-search-input 
		input
			padding-left: 32px
			@extend .ts-text-input
		.mag-glass
			margin: 3px 0 0 2px
			@extend .ts-main-filter
			@include sprite(35px, -419px)

	.header-bar .settings-button
		margin-top: 3px

	#create-room
		border: none 
		@extend .ts-gradient
		span
			color: $bg-inset
			text-shadow: none
			font-weight: bold
		.create-header
			display: none
		&:hover
			filter: brightness(1.2)

	.lobby-panel
		box-shadow: none
		border: 1px solid $bg-inset

	#newsbox .lobby-panel
		color: $mute
		background: $bg-inset
		border: 1px solid $bg-hover
		a
			color: $main !important

	#mainPanelHeader
		color: $text
		box-shadow: none
		background: $bg-faded

	#subNav, #mainNav
		box-shadow: none
		text-shadow: none

		li.selected
			font-weight: normal
			box-shadow: none !important
			background: $back !important
			border-color: $back !important

	#subNav
		margin: 0 -1px
		background: $bg-inset
		li.selected
			background: $bg-faded

	.room-list
		background: $bg-inset
		.roomListItem
			@extend .ts-striped-list
			margin: 0

			.roomName
				color: $text
			.roomDJs,
			.songName,
			.roomListeners,
			.moreRoomBuddies
				color: $mute
			.roomListBuddyIcon
				border-color: $bg-hover
				background-color: $bg-faded
			.roomListeners .icon,
			.roomDJs:not(.needed) .icon
				@extend .ts-mute-filter
			.roomDJs.needed 
				.icon
					@extend .ts-full-filter
				.count
					color: $main
			.roomAlbumArt[style*='empty-record.png']
				@extend .ts-main-filter

			.listenNow
				@extend .ts-gradient
				border: none
				color: $bg-inset
				box-shadow: none
				text-shadow: none
				&:hover
					filter: brightness(1.2)

	#buddyList
		background: $bg-inset
		border: 1px solid $bg-hover
		
		#buddyListHeader
			text-shadow: none !important
			background: $bg-inset !important
			.myName
				color: $text
			.myStats span
				color: $main
				font-weight: bold
			.myStats
				color: $mute

		#buddyListContent
			margin-top: -2px

		.buddyListTitle
			box-shadow: none
			background: $bg-faded
			.buddyListTitleText
				color: $text
				text-shadow: none
			.buddyCount
				margin-top: 5px
				background: transparent
			.buddyCountMid
				color: $main
				text-shadow: none
			.buddyCountIcon
				display: none

		.buddyListRoom
			border-top: none
			box-shadow: none
			background: $bg-inset
			border-bottom: 1px solid $bg-faded
			.buddyRoomName
				color: $text
			.joinRoomButton
				margin-top: -2px
				text-align: right
				background: none
				&::after
					color: $main
					font-size: 10px
					font-weight: bold
					text-align: right
					content: "Join Room ➜"

	#footerMainNav
		border: none
	#footerCopyright
		color: $mute
		text-shadow: none
	#content #footer a
		@extend .ts-main-filter
		color: $text
		border: none !important
		text-shadow: none !important
		&:not(:hover)
			opacity: 0.8