#hotBar,
#fullView
	padding: 10px

#turnStyles
	border-top: 2px solid $base-hover
	@extend .ts-content

	h1
		@extend .ts-shift-main
		opacity: 1

	p
		color: $text-alt

	a
		color: $main

	label,
	select,
	button
		color: $text
		background-color: $base-faded

	textarea,
	input[type="text"]
		background: transparent
		border-color: $base-hover

	label
		input:checked + span:after
			color: $main
		input:not(:checked) + span
			color: $text-alt

	.ts-tab
		color: $text-alt
		background: $base-faded
		&.active
			color: $text
			background: $base-faded

	&.active
		border-color: $main