.chat .message
  &:not(.stat)
    .subject:hover,
    .speaker:hover
      color: $color-head !important
  &.mention
    border-right-color: $color-main !important

.song .progress, 
.chat .message.mention
  background: rgba($color-main, 0.2) !important

#ts_slider
  background: $color-main !important

.current-song .details
  color: $color-text !important

.lame-button
  filter: grayscale(1) !important

.awesome-button
  filter: $button

.become-dj, 
.invite-dj,
.header-logo, 
.song-details,
.favorite-star.favorited, 
#privateChatIcon.open .chatIcon
  filter: $accent

#room-view > canvas:nth-child(2)
  filter: $lights

#room-view > canvas:nth-child(3)
  filter: grayscale(1)

#buddyListHeader,
.tab-item:active, 
.tab-item.selected,
#ts_tabs div.active,
.pmGreyTop.new-message,
#settings .option:hover,
button.tt-button.primary.small.inset,
.options-menu .options .option:hover,
.floating-menu .option:not(.split-option):not(.disabled):hover
  background-image: linear-gradient(to bottom, $color-main, $color-dark) !important
  box-shadow: none !important

#settings .option.selected,
.floating-menu .option.active,
.floating-menu .option.selected,
  color: $color-text !important
  background: $color-dark !important

.ts_menu,
#ts_window .ts_credits a
  color: $color-head !important

#ts_hotbar input,
#ts_window input,
  &:checked:after
    color: $color-main !important

#buddyListTitle,
#buddyListHeader
  border-color: $color-main !important

#buddyListTitle,
#settings .option:hover a,
#settings .option:hover .description,
button.tt-button.primary.small.inset,
.floating-menu .option.special:not(.disabled):hover 
  color: $color-text !important
  text-shadow: none !important

.score.scoregood
  color: $color-text !important
  background: $color-main !important

.overlay .modal
  background: $color-main !important