.chat .message
  &:not(.stat)
    .subject:hover,
    .speaker:hover
      color: $color-head !important
  &.mention
    border-right-color: $color-main !important

.song .progress, 
.chat .message.mention
  background: rgba($color-main, 0.2) !important

#ts_slider
  background: $color-main !important

.current-song .details
  color: $color-text !important

.lame-button
  filter: grayscale(1) !important

.awesome-button
  filter: $button

.become-dj, 
.invite-dj,
.header-logo, 
.song-details,
.favorite-star.favorited, 
#privateChatIcon.open .chatIcon
  filter: $accent

#buddyListHeader,
.tab-item:active, 
.tab-item.selected,
#ts_tabs div.active,
.pmGreyTop.new-message,
button.tt-button.primary.small.inset,
.options-menu .options .option:hover,
.floating-menu .option:not(.split-option):not(.disabled):hover
  background-image: linear-gradient(to bottom, $color-main, $color-dark) !important
  box-shadow: none !important

.floating-menu .option.active
  color: $color-text !important
  background: $color-dark !important

#ts_panel > h3, 
#ts_window > h3, 
#ts_window button,
#ts_window .ts_credits a
  color: $color-head

#ts_tabs div.active
  color: $color-text !important

#buddyListTitle,
#buddyListHeader
  border-color: $color-main !important

#buddyListTitle,
button.tt-button.primary.small.inset,
.floating-menu .option.special:not(.disabled):hover 
  color: $color-text !important
  text-shadow: none !important

.score.scoregood
  color: $color-text !important
  background: $color-main !important
